// Color include
$colorWhite: #fff;
$colorButtonGet: #616AE8;
$colorButtonBuy: #20E5A7;
$colorText: #000;
$colorContent: #7E7FA0;
$colorTick:#5E68F9;
$colorBg :#F0F9FE;
// color cirkle content
$cirkle-one: #FBE9E9;
$cirkle-two:#E7FAF9;
$cirkle-three:#F5ECFD;
$cirkle-four: #E7EFFB;
// color cirkle table
$cirkle-table1:#fd9b9b38;
$cirkle-table2:#b06bf12e;
$cirkle-table3:#45ccdb38;
$cirkle-table4:#545cf03b;
$cirkle-table5:#f16bac38;
$cirkle-table6:#48de5733;
// color-icon
//$icon-table1:
$icon-table1:#FD9B9B;
$icon-table2:#B06BF1;
$icon-table3:#45CCDB;
$icon-table4:#545CF0;
$icon-table5:#F16BAC;
$icon-table6:#48DE57;
// heightBG
$height-bg:614px;
//
$fontContent: 15px;

