.list {
  @media (max-width: 768px) {
      display: none;
  }
  @media (max-width: 816px) {
      display: none;
  }
}
.list__item {
  list-style: none;
  display: inline-block;
  border-radius: 9px;
  margin-right: 12px;
  a {
      color: $colorText;
      font-size: 16px;
      display: inline-block;
      line-height: 45px;
      margin: 0 8px;
      padding: 0 15px;
      text-decoration: none;
      &:hover {
        color: red;
      }
  }
  @media (max-width:1024px) {
      a {
          padding: 0;
      }
  }
  &:hover {
    font-weight: 900;
  }
}

