{% macro render(heading) %}
	<div class="content-text">
		<div class="content-text__headline">
			<h1>{{heading.title}}</h1>
		</div>
		<div class="content-text__description">
			<p>{{heading.description}}</p>
		</div>
	</div>
{% endmacro %}
