.page-section {
  padding-top: 15px;
  padding-bottom: 15px;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
}
.page-section--bg {
  border-radius: 50px;
  background-color: #FCF3EC;
}
