.btn {
  border: none;
  border-radius: 10px;
  height: 46px;
  letter-spacing: 0.5px;
  color: rgb(252, 241, 241);
  padding: 0px 10px 0px 10px;
  margin: 10px 5px 0px 5px;
  font-size: 14px;
  cursor: pointer;
  background-color: rgb(32, 32, 32);
  transition: 1s;
}

.btn--primary {
  background-color: #616AE8;
}
.btn--secondary:hover,
.btn--primary:hover {
  font-weight: 900;
  background-color: #f76b82;
  color: #000;
}
.btn--secondary {
  background-color: #20E5A7;
}
.btn--primary:active,
.btn--secondary:active {
  background-image: linear-gradient(180deg, rgb(141, 38, 95), rgba(255, 0, 212, 0.712));
}

